In [32]:
import pandas as pd
import json
import glob
import re

In [33]:
schemas = json.load(open('../data/retail_db/schemas.json'))

In [34]:
def get_column_name(schemas, table_name, sorting_key='column_position'):
    column_details = schemas[table_name]
    columns = sorted(column_details, key=lambda col: col[sorting_key])
    return [col['column_name'] for col in columns]

In [35]:
orders_columns =get_column_name(schemas, 'orders')

In [36]:
orders = pd.read_csv('../data/retail_db/orders/part-00000',names=orders_columns)

In [37]:
orders

       order_id             order_date  order_customer_id     order_status
0             1  2013-07-25 00:00:00.0              11599           CLOSED
1             2  2013-07-25 00:00:00.0                256  PENDING_PAYMENT
2             3  2013-07-25 00:00:00.0              12111         COMPLETE
3             4  2013-07-25 00:00:00.0               8827           CLOSED
4             5  2013-07-25 00:00:00.0              11318         COMPLETE
...         ...                    ...                ...              ...
68878     68879  2014-07-09 00:00:00.0                778         COMPLETE
68879     68880  2014-07-13 00:00:00.0               1117         COMPLETE
68880     68881  2014-07-19 00:00:00.0               2518  PENDING_PAYMENT
68881     68882  2014-07-22 00:00:00.0              10000          ON_HOLD
68882     68883  2014-07-23 00:00:00.0               5533         COMPLETE

[68883 rows x 4 columns]

In [38]:
src_file_names= glob.glob('../data/retail_db/*/part*')

In [39]:
src_file_names

['../data/retail_db\\categories\\part-00000',
 '../data/retail_db\\customers\\part-00000',
 '../data/retail_db\\departments\\part-00000',
 '../data/retail_db\\orders\\part-00000',
 '../data/retail_db\\order_items\\part-00000',
 '../data/retail_db\\products\\part-00000']

In [52]:
for file in src_file_names:
    print('Processing; ', file)
    file_path_list = re.split(r'[/\\]', file)
    table_name = file_path_list[-2]
    columns = get_column_name(schemas, table_name)
    df = pd.read_csv(file, names=columns)
    print(f'Shape of {table_name} is {df.shape}')

Processing;  ../data/retail_db\categories\part-00000
Shape of categories is (58, 3)
Processing;  ../data/retail_db\customers\part-00000
Shape of customers is (12435, 9)
Processing;  ../data/retail_db\departments\part-00000
Shape of departments is (6, 2)
Processing;  ../data/retail_db\orders\part-00000
Shape of orders is (68883, 4)
Processing;  ../data/retail_db\order_items\part-00000
Shape of order_items is (172198, 6)
Processing;  ../data/retail_db\products\part-00000
Shape of products is (1345, 6)